* {
  margin: 0;
}

section {
  margin: 1rem;
}

h1 {
  text-align: center;
  background-color: hsla(0, 0%, 0%, 0.9);
  color: whitesmoke;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  background-color: lightgray;
  transition: all 1s ease-out;
}
